<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Organiums",
  "url": "{{ request.url_root }}",
  "logo": "{{ url_for('static', filename='img/logo.png', _external=True) }}",
  "description": "Fornecemos a plataforma definitiva para organização pessoal e aumento de produtividade para colaboradores de empresas.",
  "sameAs": [
    "https://www.instagram.com/organiums",
    "https://www.linkedin.com/company/organiums"
  ]
}
</script>